
/* Clientes */

.imagenesClientes {
    margin: 60px;
    align-items: center;
    justify-content: center;
}

.tituloClientes {
    margin: 10px;
    font-weight: bold;
    text-decoration-line: underline;
    align-items: center;
    justify-content: center;
}

.imagenesClientes img {
    width: 250px;
}
