
/* Clientes */

.tituloClientes {
    margin: 10px;
    font-weight: bold;
    text-decoration-line: underline;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: cover;
    background-color: white;
    margin-top: 15px
   

}

.grid-container img {
    max-width: 170px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    
    
}

/* Responsive de clientes */
@media (max-width: 1140px) {

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;

    
    }
    .grid-container img {
        max-width: 130px;
    }
}



@media (max-width: 900px) {

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
    
    }
    .grid-container img {
        max-width: 130px;
}
}

@media (max-width: 425px) {

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;

    
    }
    .grid-container img {
        max-width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .tituloClientes h1, h2 {
        font-size: medium;
        text-decoration-line: none
    
    }
}