


/* Ingreso */



.ingresoEnvio button {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 15px;
    margin: 10px;
    
}

.loginPrincipal {
    background-color: $gris;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.loginPrincipal h1, h2 {
    font-size: xx-large;
    padding: 5px;
    text-align: left;
    
}

.loginPrincipal h5{
    font-size: large;
    padding: 2px;
    
}

.loginPrincipal div {

    margin: 5px;
    padding: 2px;
    text-align: left;
    
}