/* Socios */

.tituloSocios h1,
h3 {
    margin: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.imagenesPartners {
    display: flex;
    width: 750px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.imagenesPartners1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: $marfil;
    border: 1px black solid;
}

.imagenesPartners2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: $marfil;
    border: 1px black solid;
}

/* Responsive de servicios */
@media (max-width: 1210px) {

    .imagenesPartners {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 640px) {

    .imagenesPartners img {
        width: 80%;
        overflow: hidden;

    }

}

@media (max-width: 480px) {

    .imagenesPartners {
        width: 315px;
        overflow: hidden;
        margin: 0px;

    }

}