
/* Css de Utilitario REUTILIZADO para auto y moto */

.mainmain {
    display: flex;
    min-height: 90vh;
    max-width: 100%;
    justify-content: center;
    background-color: $gris;
    align-items: center;
    border: 4px black solid;
    align-content: center;
}

.utilitario {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gris;
  
 
}


.utilitario1A img {

    margin: 10px;
    width: 650px;
    max-height: 400px;
    object-fit: cover;
}

.utilitario1B {
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 40px;
    width: 300px;
    margin: 20px;
}

.utilitario1B2 {
    margin: 10px;

}

 .utilitario1B3 {
    text-align: center;
    margin: 10px;
    max-width: 95%;
 }

.utilitario2 {
    display: flex;
    flex-direction: column;
}

.utilitario2A {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.utilitario2B1 {
    margin-top: 7px;
    align-self: center;
    justify-content: center;
}

.utilitario2B2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px;
    align-self: center;
}

.utilitario3A {
    margin: 20px;
    align-self: center;
}

.utilitario3A button {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    border: black solid 4px;
    border-radius: 35px;
}

/* Responsive de utilitario */
@media (max-width: 769px) {

    .utilitario1A img {
        width: 400px;

    }

}

/* Responsive de utilitario */
@media (max-width: 426px) {

    .utilitario1A img {
        display: none;
    }

   

    .utilitario1B {
        width: 319px;
    }

    .utilitario3A button {
      
        font-size: 15px;
        padding: 10px;
    
    }

    .utilitario2B1 {
        display: none;
    }

}